<!DOCTYPE html>
<html lang="en">
<head>

	<title> Falcon Fitness Center </title>
	<meta charset="utf-8">

    <link href="css/ExternalStyleSheetFFC.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
	
</head>

<body>
	<div id="container">
	    
<header>
	<a href="index.html"><img src="images/FFCPrimaryLogo.png" alt="Falcon Fitness Center Logo" height="360" width="360"> </a><br>
</header>

<nav>
    <ul>
        <li> <a href="index.html"> Home </a> </li>
        <li> <a href="about.html"> About Us </a> </li>
        <li> <a href="classes.html"> Classes </a> </li>
        <li> <a href="nutrition.html"> Nutrition </a> </li>
        <li> <a href="contact.html"> Contact Us </a> </li>
    </ul>
</nav>

<main>
</main>

<footer>
		&copy; Copyright 2022. All Rights Reserved. <br>
		<a href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>
</footer>
	</div>
</body>
</html>
		